<!DOCTYPE html>
<html lang=<%= lang %>>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title><%= name %></title>
</head>
<body onload="checkForCookies()">
    <% if(lang=='en') { %>
        <a href="/?lang=gr" class="language-btn">
            <img src="images/greek-flag.png" alt="lang" id="lang-img">
        </a>
    <% } else { %>
        <a href="/" class="language-btn">
            <img src="images/uk-flag.png" alt="lang" id="lang-img">
        </a>
    <% } %>
    <header>
        <div class="text-header">
            <h1><%= name %></h1>
            <h2><%= jobtitle %></h2>
            <nav>
                <a href="https://www.linkedin.com/in/antibas/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/Antibas" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.facebook.com/panajotis.andivasis" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/_antibas/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://stackoverflow.com/users/14463603/%ce%a0%ce%91%ce%9d%ce%91%ce%93%ce%99%ce%a9%ce%a4%ce%97%ce%a3-%ce%91%ce%9d%ce%a4%ce%99%ce%92%ce%91%ce%a3%ce%97%ce%a3" target="_blank"><i class="fab fa-stack-overflow"></i></a>
            </nav>
        </div>
        <img src="images/Myphoto.jpg" alt="My Photo">
    </header>
     <main>
        <div class="content-container left" id="about-me">
            <h3><%= aboutmeTitle %></h3>
            <div class="content-card">
                <p><%= aboutme %></p>
            </div>
        </div>
        <div class="content-container" id="education">
            <h3><%= educationTitle %></h3>
            <div class="card-content-container">
                <% for (let ed of education) {%>
                <div class="content-card">
                    <h4><%=ed["title"] %></h4>
                    <h5><%=ed["institution"] %></h5>
                    <p class="text-muted italic text-small"><%=ed["time"] %></p>
                    <br>
                    <p><%=ed["description"] %></p>
                </div>
                <br>
                <% } %>
            </div>
        </div>

        <div class="content-container" id="experience">
            <h3><%= experienceTitle %></h3>
            <div class="card-content-container">
                <% for (let ex of experience) {%>
                    <div class="content-card">
                        <h4><%=ex['jobtitle'] %></h4>
                        <h5><%=ex['company'] %></h5>
                        <p class="text-muted text-small"><%=ex['location'] %></p>
                        <p class="text-muted italic text-small"><%=ex['time'] %></p>
                        <br>
                        <p><%=ex['description'] %></p>
                    </div>
                    <br>
                <% } %>
            </div>
        </div>
        <div class="content-container" id="expertise">
            <h3><%= expertiseTitle %></h3>
            <div class="nav-links">
                <% for (let exp in expertise) {%>
                    <button type="button" onclick="loadDesc('<%= exp %>')"><%= exp %></button>
                    <p id=<%= exp %> class="exp-description"><%= expertise[exp] %></p>
                <% } %>
            </div>
        </div>

        <div class="content-container" id="languages">
            <h3><%= languagesTitle %></h3>
            <div class="nav-links">
                <div class="langchart">
                    <label><%= languages['Greek'] %></label>
                    <div class="barchart" style="margin-left: 1rem; width: 500px;"></div>
                </div>
                <div class="langchart">
                    <label><%= languages['English'] %></label>
                    <div class="barchart" style="margin-left: .4rem; width: 430px;"></div>
                </div>
            </div>
        </div>

        <div class="content-container" id="interest">
            <h3><%= interestedTitle %></h3>
            <div class="content-card">
                <h4><%= contactTitle %></h4>
                <h5></h5>
                <p><i class="fas fa-phone"></i> +30-6978496068</p>
                <p><i class="fas fa-envelope"></i> antivasisp@gmail.com</p>
                <br>
                <p><%= contactSub %></p>
                <a href="/send_email?lang=<%= lang %>"class="btn-link"><%= contactAnc %></a>
                <!-- <button type="button" class="btn-link" onclick="document.getElementById('myForm').style.display = 'block'">Send me an email directly.</button> -->
            </div>
        </div>
    </main>
    <!-- <div class="form-popup content-container" id="myForm">
        <form action="" class="form-container">
            <div class="popup-header">
                <button type="button" class="cancel" onclick="document.getElementById('myForm').style.display = 'none'">X</button>
                <h3>Send Email</h3>
            </div>
      
          <input type="email" placeholder="Email address" name="email" required>
      
          <input type="text" placeholder="Subject" name="subj" required>

          <textarea name="msg" placeholder="Message" rows="7" required></textarea>
           <input type="submit" value="Send" class="primary">
        </form>
    </div> -->
    <!-- <nav class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-link active" id="nav-about-tab" data-bs-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="true">About me</a>
        <a class="nav-link" id="nav-exp-tab" data-bs-toggle="tab" href="#nav-exp" role="tab" aria-controls="nav-exp" aria-selected="false">Experience</a>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid tempore tempora molestiae pariatur, voluptate fuga corrupti est reiciendis maxime totam dolores, voluptates, dolorem eaque sequi.
        </div>
        <div class="tab-pane fade" id="nav-exp" role="tabpanel" aria-labelledby="nav-exp-tab">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, natus sed soluta necessitatibus tempore aspernatur? Praesentium, odit explicabo distinctio dolore adipisci officia iure, ut magnam optio aliquam at similique veritatis.
        </div>
        <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium minima repellat incidunt facilis obcaecati blanditiis corrupti ad officia doloribus ullam sapiente ipsum, nemo a, excepturi voluptatem voluptatibus velit eum dignissimos ut, nam tempora? Reiciendis illo itaque veritatis eligendi fuga, mollitia ratione totam veniam esse in.
        </div>
      </div> -->

    
     <footer>
        <p class="text-muted text-small">&copy; Copyright. All rights reserved.</p>
     </footer>
     <div id="cookies-popup">
        <h3><%= cookieTitle %></h3>
        <p><%= cookieDisclaimer %></p>
        <br>
        <button type="button" onclick="acceptCookies(true)" class="secondary">Accept</button>
        <button type="button" onclick="acceptCookies(false)" class="cancel">Reject</button>
    </div>
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
      <script src="js/script.js"></script>
</body>
</html>