<!DOCTYPE html>
<html lang=<%= lang %>>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= emailTitle %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main>
    <div class="email-container">
        <form action="/send_email?lang=<%= lang %>" method="post" class="form-container">
            <div class="popup-header">
                <a href="/?lang=<%= lang %>" class="back-btn"><i class="fa-regular fa-circle-left"></i></a>
                <h1><%= emailTitle %></h1>
            </div>
      
            <input type="email" placeholder=<%= emailPlaceholder %> name="email" required>
            <input type="text" placeholder=<%= subjectPlaceholder %> name="subject" required>
            <textarea name="message" placeholder=<%= messagePlaceholder %> rows="7" required></textarea>
            
            <input type="submit" value=<%= sendValue %> class="primary">
        </form>
    </div>
</main>
<footer>
    <p class="text-muted text-small">&copy; Copyright. All rights reserved.</p>
</footer>
</body>
</html>